.pricing-page__get-started__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/images/pattern.svg");

  padding: 5rem 0rem;
  margin-bottom: 3rem;
}

.pricing-page__get-started__container-lightBox {
  width: 80%;
  background: var(--bg-color);

  display: flex;
  flex-direction: row;

  padding: 2rem 1rem;
  border-radius: 10px;
}

.pricing-page__get-started__container-lightBox-infoContainer {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.pricing-page__get-started__container-lightBox-infoContainer-text {
  width: 100%;
}

.pricing-page__get-started__container-lightBox-infoContainer h2 {
  text-align: left;
  font-size: 3rem;
  font-family: inherit;
  color: var(--title-color);
}

.pricing-page__get-started__container-lightBox-infoContainer p {
  font-size: 1.3rem;
  padding: 0 1.5rem;
  width: 80%;
  color: var(--para-color);
}

.pricing-page__get-started__container-lightBox__infoContainer-buttons {
  padding: 0 0.5rem;
  width: 100%;

  margin-top: 2rem;
}

.pricing-page__get-started__container-lightBox__infoContainer-buttons button {
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 0.8rem;
  border-radius: 5px;

  font-size: 1.2rem;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s ease;
  cursor: pointer;
  outline: none;
}

.pricing-page__get-started__container-lightBox__infoContainer-buttons
  button:hover {
  background: var(--primary-color);
}

.pricing-page__get-started__container-lightBox-svgContainer {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .pricing-page__get-started__container-lightBox {
    flex-direction: column;
  }

  .pricing-page__get-started__container-lightBox-svgContainer img {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 650px) {
  .pricing-page__get-started__container-lightBox {
    width: 90%;
  }

  .pricing-page__get-started__container-lightBox-infoContainer p {
    width: 100%;
  }

  .pricing-page__get-started__container-lightBox-infoContainer h2 {
    font-size: 2rem;
  }

  .pricing-page__get-started__container-lightBox-svgContainer img {
    width: 95%;
    height: 95%;
  }
}
