:root {
  --header-height: 3rem;

  --first-color: #5b65f5;
  --first-color-light: #c4c7f5;
  --dark-color: #0e1026;
  --white-color: #fbfbfb;

  --body-font: "Open Sans", sans-serif;
  --nav-name-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  --z-fixed: 100;

  --primary-color: #4993fa;
  --secondary-color: #9dc6ff;
  --light-color: #a0e4f1;
  --bg-color: #f1fafb;
  --title-color: #163c70;
  --para-color: #4d5c70;

  --orange-plan: #ff8616;
  --pink-plan: #ff236c;
  --green-plan: #05c73f;

  --orange-light-plan: #ffead6;
  --pink-light-plan: #ffe6ee;
  --green-light-plan: #dbffe6;
}
